#overlay > * {
    opacity: 0.0;
    position: absolute;
}
#overlay > .border, #overlay > :hover {
    border: 3px solid white;
    border-bottom: none;
    opacity: 0.9;
    filter: opacity(90%);
}
#overlay > * > div {
    display: none;
}
#overlay > .border > div, #overlay > :hover > div {
    display: block;
    position: absolute;
    left: -25%;
    width: 150%;
    text-align: center;
    font-family: sans-serif;
    background: white;
    padding: 1ex 0 1ex 0;
}
